@charset "UTF-8";
/* About Page */

.about_section{
	visibility:hidden;
	
	pointer-events:none;
	
	position:absolute;
	
	top:0px;
	left:0px;
	
	width:100%;
	height:100%;
	
	background-color:#565656;
	
	overflow:hidden;
	
	z-index:8901;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .about_section{
		-webkit-transform: translateZ(10px);
		-webkit-backface-visibility:visible;
		-webkit-transform-style:preserve-3d;
	}
}}

#about_top_close_tab{
	width:115px!important;
	height: 29px!important;
	
	top: 25px!important;
	left: 50px!important;
	
	visibility:inherit;
	display:inherit;
}

/*#about_top_close_tab:hover{
	background-position: 0 -29px!important;
}*/


#about_title_header{
	top: 13px!important;
}

.about_page_bg_img{
	position:inherit;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background: url("../images/about_assets/about_page_bg.jpg");
	
	background-size:100% auto;
	
	background-position:center top;
	
	overflow:hidden!important;
	
	opacity:1;
	
	z-index:8901;
}

.about_grunge_overlay{
	position:absolute;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background: url("../images/about_assets/about_grunge_overlay.png");
	
	background-size:100% 100%;
	
	overflow:hidden!important;
	
	opacity:1;
	
	z-index:8901;
}


.about_text{
	position:absolute;
	
	left:50px;
	top:110px;
	
	width:320px;
	height:320px;
	
	background: url("../images/about_assets/about_text.png");
	
	z-index:8903;
}

.about_footer{
	position:absolute;
	
	left:50px;
	bottom:80px;
	
	width:300px;
	height:120px;
	
	background: url("../images/about_assets/about_footer.png");
	
	z-index:8903;
}

.site_credits{
	position:absolute;
	
	right:50px;
	top:110px;
	
	width:320px;
	height:320px;
	
	background: url("../images/about_assets/site_credits_text.png");
	
	z-index:8903;
}

.music_footer{
	position:absolute;
	
	right:50px;
	bottom:80px;
	
	width:300px;
	height:120px;
	
	background: url("../images/about_assets/about_music_footer.png");
	
	z-index:8903;
}

.artist_fb_ico{
	position:absolute;
	
	cursor:pointer;
	
	left:106px;
	top:53px;
	
	width:20px;
	height:20px;
	
	z-index:inherit;
	
	visibility:hidden;
	display:none;
}

.artist_in_ico{
	position:absolute;
	
	cursor:pointer;
	
	left:106px;/*134px;*/
	top:53px;
	
	width:20px;
	height:20px;
	
	z-index:inherit;
}

.artist_instagram_ico{
	position:absolute;
	
	cursor:pointer;
	
	left:134px;/*161px;*/
	top:53px;
	
	width:20px;
	height:20px;
	
	z-index:inherit;
}

.album_google_play{
	position:absolute;
	
	cursor:pointer;
	
	left:30px;
	top:56px;
	
	width:131px;
	height:48px;
	
	z-index:inherit;
}

.album_itunes{
	position:absolute;
	
	cursor:pointer;
	
	left:169px;
	top:56px;
	
	width:131px;
	height:48px;
	
	z-index:inherit;
}