@charset "UTF-8";
/* Photo Gallery */

#gallery_container{
	visibility:hidden;
	display:none;
	
	width:auto;
	height:auto;
	
	overflow:hidden;
	pointer-events:auto;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    #gallery_container{
		-webkit-transform-style: preserve-3d;/*flat;*/
		-webkit-backface-visibility:visible;
	}
}}

.gallery_bg_top{
	position:absolute;
	
	left:0px;
	top:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background-position:center top;
	background-image:url(../images/gallery_bg_top.png);
	background-repeat:repeat-x;
	
	opacity:.5;
	
	background-size:100% 100%;
	
	visibility:hidden;
}

.gallery_bg_footer{
	position:absolute;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background-position:center bottom;
	background-image:url(../images/gallery_bg_footer.png);
	background-repeat:repeat-x;
}

.gallery_bg_dimmer{
	position:absolute;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background-position:center center;
	background-image:url(../images/gallery_bg_dimmer.png);
	background-size:100% 100%;
}

.gallery_img_bg_dimmer{
	position:absolute;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	opacity:0;
	background-color:#000000;
}

.gallery_bg_img{
	position:absolute;
	
	left:0px;
	bottom:0px;
	
	width:100%;
	height:100%;
	
	padding: 0;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	min-width:100%;
	min-height:100%;
	
	background-position:center center;
	background-image:url(../images/spacer.gif);
	background-size:cover;
	
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
}

div#gallery_thumbnail_container{
	position:absolute;
	
	-webkit-transform-origin: 50% 0% 0%;
	-webkit-transform: perspective(0)
	translate3d(0px, 0px, 0px);
	scale3d(1, 1, 1);
	rotate3d(0, 1, 0, 45deg);
	-webkit-transform-style: flat;/*flat; safiri fix */
	-webkit-backface-visibility: visible;/*hidden;*/
	
	/*-moz-transform-origin: 50% 0% 0%;
	-moz-transform: perspective(0) translate3d(0px, 0px, 0px);
	scale3d(1, 1, 1);
	rotate3d(0, 1, 0, 45deg);
	-moz-transform-style: flat;
	-moz-backface-visibility: hidden;
	
	transform-origin: 50% 0% 0%;
	transform: perspective(0);
	transform-style: flat;
	backface-visibility: hidden;*/
	
	height:400px;
	
	vertical-align: middle;
	pointer-events:auto;
	
	visibility:hidden;
	display:block;
}

@-moz-document url-prefix() {
	div#gallery_thumbnail_container{
		-moz-transform-origin: 0% 0% 0%;
		-moz-transform: perspective(1500px) translate3d(0px, 0px, 0px) rotate3d(1, 0, 0, 45deg) scale3d(1, 1, 1);
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;
	
		vertical-align: middle;
		
		top:50%;
	}
}

.gallery_thumbnails{
	position:absolute;
	
	width:200px;
	height:200px;
	
	background-image:url(../images/gallery_thumbnail_block.jpg);
	background-color:#000;
	opacity:1.0;
	
	display:block;
	
	pointer-events:auto;
}

.gallery_thumbnail_cover{
	position:absolute;
	
	opacity:1;
	background-image:url(../images/gallery_thumbnail_block.jpg);
	background-color:#ff0000 !important;
	
	width:200px;
	height:200px;
	
	top:0px;
	
	-webkit-mask-image: url('../images/mouse_mask_inverted.png');
	-webkit-mask-repeat: repeat;
	-webkit-mask-position: -200px -200px;
	-webkit-mask-attachment: scroll; 
	-webkit-mask-origin: content;
	
	-moz-mask-image: url('../images/mouse_mask_inverted.png');
	-moz-mask-repeat: repeat;
	-moz-mask-position: 300px 100px;
	-moz-mask-attachment: scroll; 
	-moz-mask-origin: content;
	
	pointer-events:none;
	
	z-index:1;
}

.gallery_static_tn{
	background-image:url(./images/static_patern.gif);
}

.gallery_thumbnail_cover_fader{
	position:absolute;
	
	opacity:1;
	background-image:url(../images/gallery_thumbnail_block.jpg);
	
	width:200px;
	height:200px;
	
	top:0px;
	
	pointer-events:none;
	
	z-index:3;
}

.gallery_thumbnail_cover .gallery_thumbnail_img{
	position:absolute;
	
	opacity:.15;
	
	pointer-events:none;
}

img.gallery_thumbnail_img_cover{
	position:relative;
	
	-webkit-filter: grayscale(100%);
	
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	
	opacity:.15;
	
	pointer-events:none;
}

img.gallery_thumbnail_img{
	position:relative;
	
	-webkit-filter: grayscale(100%);
	
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	
	opacity:.15;
	
	pointer-events:auto;
}

img.gallery_thumbnail_img:hover{
	-webkit-filter: grayscale(0%);
	
	filter: none;
	
	pointer-events:auto;
}

#main_img_container{
	position:absolute;
	
	background-image:url('../images/spacer.gif');
	background-repeat:repeat;
	xbackground-size: 100% 100%;
	
	margin-left: 50%;
	overflow:hidden;
	
	left: 0px;
	top: 50%;
}

#large_galerry_img{
	/*border-color:#6f6f6f;#1c1c1c;
	border-width:medium;
	border-spacing:inherit;*/
	
	visibility:hidden;
	display:block;
}

#main_img_description{
	position:absolute;
	
	width: 100%;
	height: 100%;
	
	top:0px;
	left:0px;
	
	visibility:hidden;
	display:none;
	
	overflow:hidden;
	
	z-index:auto;
}

#main_img_dimmer{
	position:absolute;
	
	background-image:url('../images/photo_details_dimmer.png');
	background-size: 100% 100%;
	
	width: 100%;
	height: 100%;
	
	top:0px;
	left:0px;
	
	opacity:0;
}

#main_img_close_tab{
	position:absolute;
	
	width: 115px!important;
	height: 29px!important;
	
	top: 17px!important;
	left: 17px!important;
	
	background-image:url('../images/hide_details_tab.png')!important;
	background-size: 115px 58px;
	
	margin-top: -117px;
	
	visibility:inherit;
	display:inherit;
	
	z-index:3!important;
}

#main_img_back_tab{
	position: relative;
	
	width: 80px;
	height: 80px;
	
	top: 0;
	left: -40px;
	
	margin-top: 0;
	margin-left: 50%;
	
	xbackground-color:#1c1c1c;
	
	background-image:url('../images/hide_photo_details_tab.png');
	background-size: 100% 100%;
	
	pointer-events:none;
}

#main_img_social_options{
	position: absolute;
	
	background-image: url('../images/photo_details_social_bg.png');
	background-size: 140px 60px;
	
	width: 140px;
	height: 60px;
	
	top: -60px;
	right: 0px;
}

#main_img_fb_tab{
	position: absolute;
	
	top:0px;
	right:99px;
	
	height: 50px;
	width: 30px;
	
	cursor:pointer;
}

#main_img_tw_tab{
	position: absolute;
	
	top:0px;
	right:61px;
	
	height: 50px;
	width: 30px;
	
	cursor:pointer;
}

#main_img_pin_tab{
	position: absolute;
	
	top:0px;
	right:22px;
	
	height: 50px;
	width: 30px;
	
	cursor:pointer;
}

#main_img_description_text_box{
	position: absolute;
	
	background-color:#1c1c1c;
	color:#6f6f6f;
	
	width: 100%;
	height: 155px;
	
	bottom: -100px;
	left: 0px;
	
	padding-left:130px;
}

.img_description_header{
	position: absolute;
	
	font-family: 'Merriweather', serif;
	font-weight: 700;
	font-size:14px;
	
	margin-top:40px;
}

.img_description_subheader{
	position: absolute;
	
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:14px;
	
	margin-top:62px;
	display: block;
	
	width:inherit;
	hieght:100px;
	white-space: pre-wrap;
}

#img_description_tn{
	position: absolute;
	
	background-color:#000;
	background-size:100px 100px;
	color:#6f6f6f;
	
	width: 100px;
	height: 100px;
	
	bottom: -115px;
	left: 15px;
	
	overflow:hidden;
}

.navi_tabs{
	position:absolute;
	
	xbackground-repeat:no-repeat;
	
	width: 85px;
	height: 125px;
	
	top: 50%;
	margin-top: -50px;
	
	visibility:hidden;
	display:none;
	
	cursor:pointer;
	
	z-index:11;
}

#navi_tab_1{
	left:0px;
	
	background-image:url('../images/navi_tab_prev.png');
	background-position:left;
}

#navi_tab_2{
	right:0px;
	
	background-image:url('../images/navi_tab_next.png');	
	background-position:right; 
	
	/*-moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
	-ms-filter: fliph; IE
    filter: fliph; IE*/
}

#close_photo_tab{
	/*background-position: 0 -29px!important;*/
	
	position:absolute;
	
	/*background-image:url(../images/close_photo_tab.png);
	background-repeat:no-repeat;
	
	width:130px;
	height:32px;
	
	top:2px;
	left:5px;*/
	
	visibility:hidden;
	display:none;
	
	cursor:pointer;
	
	z-index:11;
}

div#gallery_thumnail_trigger{
	width:150px;
	height:32px;
	
	opacity: 1.0;
	
	position: absolute;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	top: 7px;
	left: 110px;
	
	border:none;
	
	background: url('../images/gallery_thumbnails_tab.png') repeat 0 0;
	
	visibility:visible;
	display:block;
	
	pointer-events: auto;
}

div#gallery_top_trigger{
	width:105px;/*123*/
	height:32px;
	
	opacity: 0;
	
	position: absolute;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	top: 7px;
	left: 5px;
	
	border:none;
	
	background: url('../images/gallery_menu_tab.png') repeat 0 0;
	
	visibility:visible;
	display:block;
	
	pointer-events: auto;
}

div#gallery_top_options .gallery_top_options_active{
	width:100%;
	height:100px;
	
	position: absolute;
	
	margin-top:-110px;
	margin-left:0px;
	margin-right:0px;
	
	border:none;
	
	background-color:#1c1c1c;
	
	visibility:visible;
	display:block;
	
	z-index:11;
}

div#gallery_top_options .photo_top_options_active{
	width:100%;
	height:100px;
	
	position: absolute;
	
	margin-top:-110px;
	margin-left:0px;
	margin-right:0px;
	
	border:none;
	
	background-color:#1c1c1c;
	
	visibility:visible;
	display:block;
	
	z-index:11;
}

div#gallery_top_options .gallery_top_icons{
	width:520px;
	height:40px;
	
	position: absolute;
	
	margin-bottom:0px;
	margin-left:0px;
	
	top: 56px;
	left: 0px;
	
	border:none;
	
	background: url("../images/gallery_menu_bar_labels.png") 0 0;
	background-size: 520px 40px;
	background-repeat:no-repeat;
	
	visibility:visible;
	display:block;
	
	z-index:11;
	
	cursor:pointer;
}

div#gallery_top_options .photo_top_icons{
	width:600px;
	height:40px;
	
	position: absolute;
	
	margin-bottom:0px;
	margin-left:0px;
	
	top: 56px;
	left: 0px;
	
	border:none;
	
	background: url("../images/photo_menu_bar_labels.png") 0 0;
	background-size: 600px 40px;
	background-repeat:no-repeat;
	
	visibility:visible;
	display:block;
	
	z-index:11;
	
	cursor:pointer;
}

div#gallery_top_options{
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: baseline;
	-webkit-box-align: baseline;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: baseline;
	-moz-box-align: baseline;
	
	display: box;
	box-orient: horizontal;
	box-pack: baseline;
	box-align: baseline;
	
	width:100%;
	height: 40px;
	
	min-width:1000px;
	min-height:40px;
	
	position: absolute;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	top: 0px;
	left: 0px;
	
	border:none;
	
	visibility:visible;
	display:block;
	
	pointer-events: auto;
	
	z-index:10;
}

div#gallery_menu_opt_1{
	position:absolute;
	
	top: 0px;
	left: 0px;
	
	width: 145px;
	height: 40px;
	
	cursor:pointer;
}

div#gallery_menu_opt_2{
	position:absolute;
	
	top: 0px;
	left: 145px;
	
	width: 130px;
	height: 40px;
	
	cursor:pointer;
}

div#gallery_menu_opt_3{
	position:absolute;
	
	top: 0px;
	left: 275px;
	
	width: 145px;
	height: 40px;
	
	cursor:pointer;
}


div#photo_menu_opt_1{
	position:absolute;
	
	top: 0px;
	left: 0px;
	
	width: 135px;
	height: 40px;
	
	cursor:pointer;
}

div#photo_menu_opt_2{
	position:absolute;
	
	top: 0px;
	left: 135px;
	
	width: 170px;
	height: 40px;
	
	cursor:pointer;
}

div#photo_menu_opt_3{
	position:absolute;
	
	top: 0px;
	left: 305px;
	
	width: 150px;
	height: 40px;
	
	cursor:pointer;
}

div#photo_menu_opt_4{
	position:absolute;
	
	top: 0px;
	left: 450px;
	
	width: 130px;
	height: 40px;
	
	cursor:pointer;
}

#click_photo_instructions{
	position:absolute;
	
	top: 50%;
	left: 50%;
	
	margin-top:-40px;
	margin-left:-135px;
	
	width: 270px;
	height: 80px;
	
	border:none;
	
	background:url("../images/click_for_details.png") 0 0;
	background-size: 270px 80px;
	background-repeat:no-repeat;
	
	display:none;
	visibility:hidden;
	
	pointer-events:none;
}

#gallery_photo_video{ 
    position:absolute;
	
    top: 0%;
    left: 0%;
    width: 101%;
    height: 101%;
	
	background-color:#000000;
	
    transform: translateX(0%) translateY(0%);
	object-fit: cover;
	transition: 1s opacity;
	
	overflow:hidden;
	
	display:none;
	pointer-events:none;
	
	z-index:0;
}

#gallery_title_block{
	position:absolute;
	
	width:350px;
	height:120px;
	top:45px;/*37*/
	/*bottom: 135px;*/
	left: -358px;
	
	background: url("../images/gallery_title_block_1.png") no-repeat 0 0;
	background-size: 350px 120px;
	
	overflow:hidden;
	
	pointer-events:auto;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    #gallery_photo_video{ 
        top: 0%;
    	left: 0%; 

    }
}}