@charset "UTF-8";
/* Main Elements */

html{
	background-color: #000;
}

body{
	background-color: #0a0a0a;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	width:100%;
	min-width:1000px;
	height:100%;
	min-height:700px;
	
	overflow:auto;
	
	padding: 0;
	
	cursor:default;
}

div#min_area{
	left: 0px;
	top: 0px;
	
	width:1000px;
	height:700px;
	
	background-color:#F00;
}

div#main_container{
	-webkit-perspective: 1000px;
	-webkit-perspective-origin: 50% 50%;
	 
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center;
	
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
	
	position: absolute;

	left: 0px;
	top: 0px;

	width:100%;
	min-width:1000px;
	height:100%;
	min-height:700px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	background-color: #0a0a0a;
	background-size:100% 100%;
	
	overflow:hidden;
}

div#child_container{
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0)
	translate3d(0px, 0px, 0px);
	scale3d(1, 1, 1);
	rotate3d(0, 1, 0, 45deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px)
	translate3d(0px, 0px, 0px);
	scale3d(1, 1, 1);
	rotate3d(0, 1, 0, 45deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	
	transform-origin: 50% 50% 50%;
	transform: perspective(0)
	transform-style: preserve-3d;
	backface-visibility: hidden;
	
	/*background-image:url('../images/layout_grid_complete.png');*/
	
	background-repeat:no-repeat;
	
	width:1000px;
	height:700px;
	
	vertical-align: middle;
	
	pointer-events:none;
}


div#video_holder{
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0) translate3d(0px, 0px, 5px);
	-webkit-transform-style: preserve-3d;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px) translate3d(0px, 0px, 5px);
	-moz-transform-style: preserve-3d;
	
	outline:none;
	
	top: 135px;
	margin-left:306px;
	
	width:379px;
	height:360px;
	
	display:none;
	visibility:hidden;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	
	background-image:url('../images/video_holder_bg.jpg');
	background-repeat:no-repeat;
	background-position:center;
	
	z-index:999;
	
	/*background-color:#09C;*/
	
	position:absolute;
}

div#video_holder *{
	-webkit-transform: translate3d(0px, 0px, 5px);
	-ms-transform: translate3d(0px, 0px, 5px);
	transform: translate3d(0px, 0px, 5px);
}

div#video_holder_bg{
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0)
	translate3d(0px, 0px, 4px);
	-webkit-transform-style: preserve-3d;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px)
	translate3d(0px, 0px, 4px);
	-moz-transform-style: preserve-3d;
	
	-ms-transform-origin: 50% 50% 50%;
	-ms-transform: perspective(0px)
	translate3d(0px, 0px, 4px);
	-ms-transform-style: preserve-3d;
	
	transform-origin: 50% 50% 50%;
	transform: perspective(0)
	transform-style: preserve-3d;
	
	top: 117px;
	margin-top:0px;
	margin-left:306px;
	
	width:379px;
	height:388px;
	
	display:none;
	visibility:hidden;
	
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	
	vertical-align: middle;
	
	position: relative;
	
	z-index:auto;
}

div#video_static_ani{
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0) translate3d(0px, 0px, 12px);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px) translate3d(0px, 0px, 12px);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
	
	outline:none;
	
	top: 135px;
	margin-left:370px;
	
	width:260px;
	height:360px;
	
	display:none;
	visibility:hidden;
	backface-visibility: hidden;
	
	background-image:url('../images/video_glitch_ani.jpg');
	background-repeat:no-repeat;
	background-position:0px 0px;
	
	background-color:transparent!important;
	
	position:absolute;
	
	z-index:2000;
}

div#grid_photos{
	position:absolute;
	
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0)
	translate3d(0px, 0px, 2px);
	
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px)
	translate3d(0px, 0px, 2px);
	
	-moz-transform-style: flat;
	-moz-backface-visibility: hidden;
	
	transform-origin: 50% 50% 50%;
	transform: perspective(0)
	translate3d(0px, 0px, 2px);
	
	transform-style: flat;
	backface-visibility: hidden;
	
	width:1000px;
	height:700px;
	
	vertical-align: middle;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

div#grid_photos_bg{
	position:absolute;
	
	opacity: 0;
	
	-webkit-transform: perspective(0) translate3d(0px, 0px, 1px);
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	
	-webkit-mask-image: url('../images/mouse_mask.png');
	-webkit-mask-repeat: repeat;
	-webkit-mask-position: 300px 100px;
	-webkit-mask-attachment: scroll; 
	-webkit-mask-origin: content;
	
	background-image:url('../images/layout_grid__overlay_complete.png');
	background-position:"3000px 3000px";
	background-repeat:no-repeat;

	width:1000px;
	height:700px;
	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	pointer-events:none;
	
	visibility:hidden;
	display:none;
}

#grid_photos_bg_img{
	visibility:hidden;
	display:none;
}

div#grid_photos_child_container{
	position:absolute;
	
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0) translate3d(0px, 0px, 0px);
	
	-webkit-transform-style: flat;
	-webkit-backface-visibility: hidden;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px) translate3d(0px, 0px, 0px);
	
	-moz-transform-style: flat;
	-moz-backface-visibility: hidden;
	
	transform-origin: 50% 50% 50%;
	transform: perspective(0) translate3d(0px, 0px, 0px);
	
	transform-style: flat;
	backface-visibility: hidden;
	
	width:1000px;
	height:700px;
	
	vertical-align: middle;
	
	top:0px;
}

div#grid_titles{
	-webkit-transform-origin: 50% 50% 50%;
	-webkit-transform: perspective(0) translate3d(0px, 0px, 50px) !important;
	-webkit-transform-style: flat !important;
	
	-webkit-backface-visibility: hidden;
	
	-moz-transform-origin: 50% 50% 50%;
	-moz-transform: perspective(0px) translate3d(0px, 0px, 50px) !important;
	-moz-transform-style: flat !important;
	
	-moz-backface-visibility: hidden;
	
	outline:none;
	
	top: 445px;
	margin-left:287px;
	
	width:426px;
	height:100px;
	
	display:none;
	visibility:hidden;
	
	position:absolute;
}

::selection {
   background: transparent;
   color: inherit;
}

::-moz-selection {
   background: transparent;
   color: inherit;
}

* {
    -moz-user-select:none;
}
	  
.intro_block{
	position:absolute;
	opacity: 1.0;
	background: transparent;
	background-repeat:no-repeat;
	color: inherit;
	
	visibility:hidden;
}


img#grid_photo {
	
	/*filter:url(#desaturate);
	-webkit-filter: grayscale(100%);*/
	
	opacity: 0.0;
}

img#grid_photo_constant_1,
img#grid_photo_constant_2,
img#grid_photo_constant_3,
img#grid_photo_constant_4,
img#grid_photo_constant_5,
img#grid_photo_constant_6{
	opacity: 0;
}

#site_footer_logo,.footer_logo{
	opacity:1;
	
	cursor:pointer;
}

.pause_title_header{
	left:-200px;
	top:13px;
	
	width:400px;
	height: 75px;
	
	position: absolute;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:50%;
	margin-right:0px;
	
	background-image:url("../images/header_title.png");
	
	pointer-events: auto;
	
	z-index:9903;
}

.pause_close_tab{
	width:28px;
	height: 29px;
	
	position: absolute;
	
	top: 8px;
	left: 8px;
	border:none;
	
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	
	background: url("../images/close_photo_tab_text.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	visibility:hidden;
	display:none;
	
	z-index:9903;
}

.pause_close_tab:hover{
	background-position: 0 -29px;
}

input,input:focus{outline:none}

.facebookWrap{
	opacity:.4;
	transition:opacity .2s;
	display:inline-block;
	overflow:hidden;
	-webkit-filter:grayscale(100%);
	-moz-filter:grayscale(100%);
	-ms-filter:grayscale(100%);
	filter:grayscale(100%);
}
	
.facebookWrap:hover{
	opacity:1;
	transition:opacity .2s;
	-webkit-filter:none;
	-moz-filter:none;
	-ms-filter:none;
	filter:none
}

@-moz-document url-prefix() {
	div#grid_titles{
		-moz-transform-origin: 50% 50% 50%;
		-moz-transform: perspective(1200px) translate3d(0px, 0px, 50px);
		-moz-transform-style: preserve-3d;
		
		transform-origin: 50% 50% 50%;
		transform: perspective(1200px) translate3d(0px, 0px, 50px);
		transform-style: preserve-3d;
	}
	
	div#grid_photos_bg{
		mask: url(#grid_mask_gecko);
	}
	
	div#child_container{
		-moz-transform-origin: 50% 50% 50%;
		-moz-transform: perspective(1200px)
		translate3d(0px, 0px, 0px);
		scale3d(1, 1, 1);
		rotate3d(0, 1, 0, 45deg);
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;
		
		transform-origin: 50% 50% 50%;
		transform: perspective(1200px)
		transform-style: preserve-3d;
		backface-visibility: hidden;
		
		width:1000px;
		height:700px;
		
		pointer-events:none;
		
		vertical-align: middle;
		text-align:center;
		
		position:relative;
	
		left: 50%;
		top: 50%;
		
		xmargin:auto auto;
		
		margin-left: -500px;
		margin-top: -350px;
	}
}