@charset "UTF-8";
/* Preloader Animation */

#clock_loader{
	position:absolute;
	
	pointer-events:none;
	
	width: 50px;
	height: 50px;
	
	margin-top: 0px;
	left: 253px;
	
	overflow:hidden!important;
	
	background-image:url('http://wretchedbeauty.com.s3.amazonaws.com/configuration/preload_assets/title_loader_bg.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}

#clock_loader_img{
	position:relative;
}