@charset "UTF-8";
/* Top Options Tabs */

div#top_options{
	width:500px;
	height: 250px;
	position: absolute;
	top: 0px;
	right: 0px;
	border:none;
	
	overflow:hidden;
	pointer-events:none;
	
	z-index:9999999;
}

div#music_on_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 42px;
	border:none;
	
	background: url("../images/top_tab_volume_off.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:hidden;
	display:none;
}

div#music_off_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 42px;
	border:none;
	
	background: url("../images/top_tab_volume_on.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:hidden;
	display:none;
}

div#fs_on_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 8px;
	border:none;
	
	background: url("../images/top_tab_fullscreen_off.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:hidden;
	display:none;
}

div#fs_off_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 8px;
	border:none;
	
	pointer-events: auto;
	
	background: url("../images/top_tab_fullscreen_on.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	visibility:hidden;
	display:none;
}

div#share_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: -30px;
	right: 78px;
	border:none;
	
	background: url("../images/top_tab_share.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:visible;
	display:block;
}

div#share_active_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 78px;
	border:none;
	
	background: url("../images/top_tab_share_active.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:hidden;
	display:none;
}

div#echo_tab{
	width:28px;
	height: 29px;
	position: absolute;
	top: 8px;
	right: 78px;
	border:none;
	
	background: url("../images/top_tab_echo.png") no-repeat 0 0;
	background-color: #1c1c1c;
	
	pointer-events: auto;
	
	visibility:visible;
	display:block;
}

/*div#fs_on_tab:hover,div#fs_off_tab:hover,div#music_on_tab:hover,div#music_off_tab:hover,div#share_tab:hover,div#share_active_tab:hover,div#echo_tab:hover{
	background-position: 0 -29px;
}*/

div#fs_on_tab:-webkit-full-screen, div#fs_on_tab:full-screen, div#fs_on_tab:fullscreen {
	visibility:hidden;
	display:none;
}

div#fs_off_tab:-webkit-full-screen, div#fs_off_tab:full-screen, div#fs_off_tab:fullscreen {
	visibility:visible;
	display:block;
}

.rollover_tab_tweened{
	background-repeat:no-repeat!important;
	background-color:transparent!important;
}

.notification_block{
	position: absolute;
	
	width:270px;
	height: 80px;
	
	border:none;
	overflow:hidden;
	
	background-color: #1c1c1c;
	background-position:0px 0px;
    background-repeat: no-repeat;
	
	pointer-events: auto;
	
	visibility:visible;
	display:block;
	
	z-index:auto;
}

#headphone_notification{
	top: 135px;/*37*/
	right: -278px;
	
	background: url("../images/headphones_indicator_bg.png") no-repeat 0 0;
	background-size: 270px 80px;
}

#rightclick_notification{
	top: 135px;/*37*/
	right: -278px;
	
	background: url("../images/right_click_indicator_bg.png") no-repeat 0 0;
	background-size: 270px 80px;
}

#now_playing{
	top: 45px;/*37*/
	right: -278px;
	
	background: url("../images/now_playing_bg.png") no-repeat 0 0;
	background-size: 270px 400px;
}

#now_playing_tab{
	position: absolute;
	
	width:60px;
	height: 35px;
	
	bottom: 0px;
	right: 0px;
	
	pointer-events: auto;
	cursor:pointer;
	
	visibility:visible;
	display:block;
}

#now_playing_close{
	position: absolute;
	
	width:60px;
	height: 35px;
	
	top: 0px;
	right: 0px;
	
	pointer-events: auto;
	cursor:pointer;
	
	visibility:visible;
	display:block;
}
