@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,600,800,400);
/**********fonts included here***********/
/**********variables declared here***********/
.title .bg-border {
  width: 99%;
  height: 13.09375px;
  background-color: #F0F0F0;
  position: absolute;
  z-index: -1;
  top: 3px;
}
.title .title-text {
  color: #333;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px !important;
  background-color: #FFFFFF;
  text-transform: uppercase;
  float: left;
  padding-right: 20px;
  margin-bottom: 42px;
  margin-top: 0px;
}
.contact-block {
  margin-top: 60px;
  position: relative;
  font-family: 'Roboto Slab', serif;
}
.contact-block .address-info {
  clear: both;
  color: #777777;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
}
.contact-block address {
  margin-top: 42px;
  line-height: 21px;
  font-size: 13px;
  font-weight: 500;
  color: #333333;
}
.contact-block address strong {
  font-weight: 700;
}
.contact-block .right input {
  border-radius: 0px;
  box-shadow: none;
  height: 45px;
  border-width: 0px;
  border: 1px solid #e7e7e7;
  /* stroke */
  background-color: #fbfbfb;
  /* layer fill content */
  outline: none;
}
.contact-block .right textarea {
  min-height: 233px;
  width: 100%;
  resize: none;
  border: 1px solid #e7e7e7;
  /* stroke */
  background-color: #fbfbfb;
  /* layer fill content */
  border-radius: 0px;
  outline: none;
  box-shadow: none;
  padding: 10px;
}
.contact-block .right .submit {
  padding: 15px;
  margin-bottom: 30px;
}
.contact-block .right .submit .btn {
  border-radius: 0px;
  height: 46px;
  line-height: 46px;
  padding: 0px;
  text-transform: uppercase;
  clear: both;
  width: 100%;
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
  background: #33b5e5;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
}
.contact-block .right .submit .btn:hover {
  background: #FFFFFF;
  color: #33b5e5;
  border: 1px solid #33b5e5;
}
