@charset "UTF-8";
/* Fonts */


/***********************

	Urbano Regular

***********************/
@font-face {
	/* Urbano Regular */
	font-family: 'Urbano';
	src: url('../fonts/Urbano-Regular-webfont.eot');
	src: url('../fonts/Urbano-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-Regular-webfont.woff') format('woff'),
		 url('../fonts/Urbano-Regular-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-Regular-webfont.svg#UrbanoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	/* Urbano Light */
	font-family: 'Urbano';
	src: url('../fonts/Urbano-Light-webfont.eot');
	src: url('../fonts/Urbano-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-Light-webfont.woff') format('woff'),
		 url('../fonts/Urbano-Light-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-Light-webfont.svg#UrbanoLight') format('svg');
	font-weight: 300;
	font-style: normal;

}
@font-face {
	/* Urbano Italic */
	font-family: 'Urbano';
	src: url('../fonts/Urbano-Italic-webfont.eot');
	src: url('../fonts/Urbano-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-Italic-webfont.woff') format('woff'),
		 url('../fonts/Urbano-Italic-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-Italic-webfont.svg#UrbanoItalic') format('svg');
	font-weight: normal;
	font-style: italic;

}
@font-face {
	/* Urbano Bold */
	font-family: 'Urbano';
	src: url('../fonts/Urbano-Bold-webfont.eot');
	src: url('../fonts/Urbano-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-Bold-webfont.woff') format('woff'),
		 url('../fonts/Urbano-Bold-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-Bold-webfont.svg#UrbanoBold') format('svg');
	font-weight: 700;
	font-style: normal;

}
/***********************

	Urbano Condensed

***********************/
@font-face {
	font-family: 'Urbano Condensed';
	src: url('../fonts/Urbano-Cond-webfont.eot');
	src: url('../fonts/Urbano-Cond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-Cond-webfont.woff') format('woff'),
		 url('../fonts/Urbano-Cond-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-Cond-webfont.svg#UrbanoCondensed') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	/* Urbano Light Condensed */
	font-family: 'Urbano Condensed';
	src: url('../fonts/Urbano-LightCond-webfont.eot');
	src: url('../fonts/Urbano-LightCond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-LightCond-webfont.woff') format('woff'),
		 url('../fonts/Urbano-LightCond-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-LightCond-webfont.svg#UrbanoLightCondensed') format('svg');
	font-weight: 300;
	font-style: normal;

}
@font-face {
	/* Urbano Light Condensed Italic */
	font-family: 'Urbano Condensed';
	src: url('../fonts/Urbano-LightCondItalic-webfont.eot');
	src: url('../fonts/Urbano-LightCondItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-LightCondItalic-webfont.woff') format('woff'),
		 url('../fonts/Urbano-LightCondItalic-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-LightCondItalic-webfont.svg#UrbanoLightCondensedItalic') format('svg');
	font-weight: 300;
	font-style: italic;

}
@font-face {
	/* Urbano Condensed Bold */
	font-family: 'Urbano Condensed';
	src: url('../fonts/Urbano-BoldCond-webfont.eot');
	src: url('../fonts/Urbano-BoldCond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-BoldCond-webfont.woff') format('woff'),
		 url('../fonts/Urbano-BoldCond-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-BoldCond-webfont.svg#UrbanoBoldCondensed') format('svg');
	font-weight: 700;
	font-style: normal;

}

/***********************

	Urbano Extra Condensed

***********************/
@font-face {
	font-family: 'Urbano Extra Condensed';
	src: url('../fonts/Urbano-ExtraCond-webfont.eot');
	src: url('../fonts/Urbano-ExtraCond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-ExtraCond-webfont.woff') format('woff'),
		 url('../fonts/Urbano-ExtraCond-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-ExtraCond-webfont.svg#UrbanoExtraCondensed') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Urbano Extra Condensed';
	src: url('../fonts/Urbano-LtExtraCond-webfont.eot');
	src: url('../fonts/Urbano-LtExtraCond-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-LtExtraCond-webfont.woff') format('woff'),
		 url('../fonts/Urbano-LtExtraCond-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-LtExtraCond-webfont.svg#UrbanoItalic') format('svg');
	font-weight: 300;
	font-style: normal;

}

/***********************

	Urbano Expanded

***********************/
@font-face {
	font-family: 'Urbano Expanded';
	src: url('../fonts/Urbano-ExtraBoldExpanded-webfont.eot');
	src: url('../fonts/Urbano-ExtraBoldExpanded-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Urbano-ExtraBoldExpanded-webfont.woff') format('woff'),
		 url('../fonts/Urbano-ExtraBoldExpanded-webfont.ttf') format('truetype'),
		 url('../fonts/Urbano-ExtraBoldExpanded-webfont.svg#UrbanoExtraBoldExpanded') format('svg');
	font-weight: 900;
	font-style: normal;

}
/***********************

	Urbano Black

***********************/
@font-face {
	font-family: 'Urbano Black';
	src: url('../fonts/urbano-black-webfont.eot');
	src: url('../fonts/urbano-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/urbano-black-webfont.woff') format('woff'),
		 url('../fonts/urbano-black-webfont.ttf') format('truetype'),
		 url('../fonts/urbano-black-webfont.svg#UrbanoBlackRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'BebasNeue';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Bebas.ttf');
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?56997435');
	src: url('../fonts/fontello.eot?56997435#iefix') format('embedded-opentype'),
		url('../fonts/fontello.woff?56997435') format('woff'),
		url('../fonts/fontello.ttf?56997435') format('truetype'),
		url('../fonts/fontello.svg?56997435#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
}

.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-vimeo:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-at:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-cart:before { content: '\e807'; } /* '' */
.icon-arrow-right:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-volume-off:before { content: '\e80a'; } /* '' */
.icon-volume-up:before { content: '\e80b'; } /* '' */
.icon-instagram:before { content: '\e80c'; } /* '' */
.icon-linkedin:before { content: '\e80d'; } /* '' */
